.cover__overlay-container{
background-image: url(../../../images/cover-trains.jpg);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
z-index: 1;
width: calc(100% - 2 * 48px);
margin: 0 auto;
min-height: 740px;
transition: opacity 0.3s, linear 0.3s;

}

.cover__overlay-container:hover{
background-color: #2A2C2F;
opacity: 0.8;
}

@media screen and (max-width: 1024px){
.cover__overlay-container{
width: 100%;
}
}
    
