.cover__overlay-container{
background-image: url(../../../images/cover-trains.jpg);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-sizing: border-box;
position: relative;
z-index: 1;
width: calc(100% - 2 * 48px);
margin: 0 auto;
min-height: 740px;
}

.cover__overlay-container:hover{
background-color: #2A2C2F;
opacity: 0.3;
}

@media screen and (max-width: 1024px){
.cover__overlay-container{
    width: 100%;
}
}
    
@media screen and (max-width: 768px){
.cover__overlay-container{
    width: 100%;
}
}

@media screen and (max-width: 320px){
.cover__overlay-container{
    width: 100%;
}
}