.cover__title{
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
max-width: 560px;
}

@media screen and (max-width: 320px){
.cover__title{
font-size: 32px;
line-height: 35px;
}
}