.intro__title{
font-family: 'Inter', Arial, Helvetica, sans-serif;
font-size: 54px;
line-height: 58px;
font-style: normal;
font-weight: 900;
margin: 0 auto;
margin-top: 92px;
}

@media screen and (max-width: 767px){
.intro__title{
font-size: 32px;
line-height: 35px;
}
}